#root {
  display: flex;
  min-height: 100vh;
  margin: 1rem auto;
  padding: 0;
  text-align: center;
  border: solid .5rem #37696e55;
  border-radius: 2rem 2rem 2rem 2rem;

}




/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
